$theme-colors: (
  "primary": #00374b,
  "dark": #000,
  "secondary": #0394a8,
);

@import "../node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap");

/*
font-family: "Poppins", sans-serif;
font-family: "Satisfy", cursive; 
font-family: "Open Sans", sans-serif;
*/
$primary: #00374b;
$dark-v2: #172024;
$beige: #f5f2e8;

body {
  font-family: "Poppins", sans-serif;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
a {
  text-decoration: none;
}

.text-dark-v2 {
  color: $dark-v2;
}

.bg-dark-v3 {
  background-color: #0d0d0d;
}

.text-beige {
  color: $beige;
}

.bg-dark-v2 {
  background-color: $dark-v2;
}

.bg-beige {
  background-color: $beige;
}

.container {
  max-width: calc(1200px + var(--bs-gutter-x) * 0.5);
}

.container-small {
  max-width: calc(982px + var(--bs-gutter-x) * 0.5);
}

/*.fs-6 == 16px*/

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

h1,
.h1 {
  font-size: 48px;
}

h2,
.h2 {
  font-size: 36px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 20px;
}

h5,
.h5 {
  font-size: 16px;
}

.py-75 {
  padding-top: 4.6rem;
  padding-bottom: 4.6rem;
}

.btn {
  display: inline-flex;
  min-width: 157px;
  height: 40px;
  padding: 7px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 28px;

  font-size: 12px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: normal;
}
.p-29 {
  padding: 29px !important;
}
.btn-lg {
  font-size: 16px;
  height: 50px;
  min-width: 202px;
}

.title {
  color: #000;
  // font-family: "Satisfy", cursive;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section {
  padding: 90px 0;
}

.text-big {
  font-size: 24px;

  font-weight: 400;
}

.text-big_2 {
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
}

.navbar {
  padding: 18px;
}

.nav-item {
  a.nav-link {
    color: $dark-v2;
    opacity: 1;

    font-size: 18px;

    font-weight: 700;
    padding: 0 1.75rem !important;
  }
}

.nav-sidebar__block {
  a {
    min-height: 35px;
  }
}

.min-height-600 {
  min-height: 600px;

  background-image: url(../images/header--img.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  background-position: right;
}

.slider__text {
  max-width: 620px;
  margin: auto;
}

.slider {
  background-color: #eae6d4;
}

.real-infusions__text {
  max-width: 1050px;
}

.real-infusions {
  padding: 100px 0;
}

.saparator {
  background: #0394a8 url(../images/top-stripe.png);
  height: 167px;
  background-position: center top;
  background-repeat: repeat-x;
}
.real-infusions-post {
  background: $beige;
}
.saparator-2 {
  height: 167px;
  background: $beige url(../images/bottom-sprite.svg) !important;
}

.card-icon {
  width: 70px;
  height: 70px;
}

.card {
  padding: 22px 25px;
  border-radius: 11px;
}

.card-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-body {
  padding: 1rem 0;
}

.max-383 {
  max-width: 383px;
}

.coard-wrapper {
  margin: 30px auto 70px;
}

.approach__content_text {
  display: none;
  font-size: 18px;
  font-weight: 400;
}

.approach {
  padding: 100px 0 112px 0;
}

.count {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background: $primary;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 18px;
  margin-right: 18px;
}

.approach__content_title {
  margin-bottom: 19px;
  cursor: pointer;
}

.approach__content {
  margin-bottom: 38px;
}

.approach__text {
  max-width: 480px;
}

.approch-image-slider {
  max-width: 640px;
  overflow: hidden;
  // background-color: #fff;
  // border: solid 10px;
  // border-radius: 8px;
  img {
    border-radius: 8px;
  }
}

.pan1 {
  right: -66px;
  top: -141px;
}

.pan2 {
  left: 0;
  bottom: -148px;
  transform: rotate(180deg);
}

.our-progress {
}

.col-bg {
  background-size: cover !important;
  background-position: center !important;
}

.faq-text-wrapper {
  max-width: 580px;
  margin: auto auto 77px;
  h2 {
    margin-bottom: 32px;
  }
}

.faq {
  padding: 65px 0 123px 0;
}

.faq-card {
  max-width: 786px;
  border-bottom: solid 1px #46616a;
  .arrow-down {
    transition: all 600ms;
    transform: rotate(0);
  }
  .active .arrow-down {
    transform: rotate(180deg);
  }
}

.faq-card__title {
  padding: 18px 0;
  cursor: pointer;
}

.faq-card__content {
  overflow: hidden;
  transition: height 0.3s ease;
  height: 0;
}

.faq-card__content.active {
  height: auto;
}

.faq-bottom-section {
  min-height: 167px;
  background: url(/images/faq-stripe-bottom.svg);
  background-repeat: repeat-x;
  background-color: $primary;
}

.testimonials {
  padding: 20px 0 100px;
}

.tag {
  font-family: "Satisfy", cursive;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fs-7 {
  font-size: 14px !important;
}

.footer {
  .footer-top {
    padding: 77px 0 0 0;
  }

  a {
    color: #fff;
  }
  .bottom-inside-footer {
    margin: 53px 0 0 0;
    padding: 34px 0;
  }

  ul {
    font-size: 12px;

    li {
      margin: 18px 0;
    }
  }

  p {
    font-size: 12px;
    margin: 18px 0;
  }

  .social-icons {
    font-size: 14px;
    gap: 22px;
    a {
      span {
        padding-left: 7px;
      }
    }
  }

  .policy-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;

      & + li::before {
        content: "|";
        color: white;
        padding: 0 10px;
      }

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.container-selling-point {
  max-width: 1222px;

  .col-md-4 {
    margin-bottom: calc(var(--bs-gutter-x) * 0.5 * 2);
  }
  .max-383 {
    height: 100%;
  }
}

#subscribe {
  margin: 18px 0;
  ::placeholder {
    opacity: 1;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }
  .form-control {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    background: #00374b;
    border-color: #00374b;
    color: #ffff;
    border-radius: 0;
    padding: 16px;
    max-width: 300px;
  }
  .btn {
    border-radius: 0;
    padding: 16px 0;
    min-width: 100px;
    height: auto;
  }
}

.our-progress__text {
  max-width: 520px;
  margin-left: 80px;
}

.page-slider {
  min-height: 472px;
  h1 {
    line-height: 70px;
  }
}

.conditions {
  padding: 125px 0 250px;
  .container {
    max-width: 1222px;
    @media (max-width: 980px) {
      max-width: 795px;
    }
  }
}

.condition-card {
  display: flex;
  max-width: 383px;
  width: 100%;
  min-height: 318px;
  margin: auto;
  padding: 30px 25px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  border-radius: 11px;
  background: #fff;
  box-shadow: 0px 4px 36px 0px rgba(199, 199, 199, 0.25);

  h3 {
    margin-bottom: 25px;
  }
}

/*mainson-post*/

.list-lower-alpha {
  list-style: lower-alpha;
}

.maison-posts--referral {
  .row,
  .row > * {
    --bs-gutter-x: 10px !important;
  }
  h3 {
    font-size: 20 px;
  }
  font-size: 12px;
}

.mainson-post {
  max-width: 1200px;
  padding: 60px;
  @media (max-width: 992px) {
    padding: 40px;
  }
  @media (max-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (max-width: 576px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  background-color: white;
  border-radius: 11px;
  margin: 27px auto;
  &:first-child {
    margin-top: 0;
  }
  .maison-post__feature-img {
    img.feature-img {
      width: 100%;
    }
    max-width: 475px;
    width: 100%;
    @media (max-width: 992px) {
      max-width: 100%;
    }
  }

  .maison-post__content {
    ul {
      padding-left: 1rem;
    }
    &.my-4 {
      margin-top: 2.2rem !important;
      margin-bottom: 2.2rem !important;
    }
  }
}

.search__bar {
  display: flex;
  max-width: 982px;
  min-height: 69px;
  border-radius: 55px;
  background: #fff;
  font-size: 16px;
  margin: auto;
  font-weight: 400;
  overflow: hidden;
  align-items: center;
  padding: 14px 20px;
  input {
    border-radius: 55px;
    min-width: 146px;
    height: 40px;
  }
}

.download {
  border-radius: 10px;
  overflow: hidden;
  .download__header {
    background: #00374b;
    height: 41px;
  }

  .download__card {
    height: 63px;
    padding: 10px 34px;
    border-bottom: 1px solid #d8d8d8;
    &:last-child {
      border-bottom: 0;
    }
  }
}

.spacer {
  display: table;
  clear: both;
  &.h-25 {
    height: 15.6rem !important;
  }
}

.contact {
  .contact__text {
    max-width: 370px;
  }
  .contact__tag {
    font-size: 24px;

    font-weight: 700;
  }

  .contact__text-body {
    color: $dark-v2;
    font-size: 20px;
    p {
      margin: 30px 0;
    }
    a {
      color: $dark-v2;
    }
  }
  label {
    color: #000;
    position: absolute;
    left: 40px;
    @media (max-width: 768px) {
      left: 15px;
    }
    top: 27px;
    transition: all 600ms;
  }
  .mb-3 {
    position: relative;
  }
}

.contact__form {
  max-width: 690px;
  .btn {
    height: 42px;
  }
}

.form-control {
  height: 76px;
  border-radius: 5px;
  border: 0;
  padding-left: 40px;
  @media (max-width: 768px) {
    padding-left: 15px;
  }
  box-shadow: none;
  &:focus + label,
  &.input-have-value + label {
    top: 5px;
  }
}

textarea.form-control {
  min-height: 218px;
  padding-top: 30px;
}

.our-team {
  padding: 91px 0 150px;
}

.doctor {
  margin: 0 auto 20px auto;
  @media (max-width: 990px) {
    max-width: 400px;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .doctor__name {
    margin: 0 0 22px 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
